---
import { cn } from '~/lib/utils'

interface Props {
  className?: string
  position?: 'top' | 'bottom'
}

const { className, position } = Astro.props
---

<section class={cn('border-y border-border/50', `section-divider-${position}`, className)}>
  <div class="h-px w-full bg-border/30"></div>
</section>
