---
import { FOOTER_LINKS, SITE } from '~/config'
import SectionDivider from '~/components/base/SectionDivider.astro'
import ThemeToggle from '~/components/theme/ThemeToggle'
import FooterLink from '~/components/base/FooterLink.astro'
---

<SectionDivider position="bottom" />
<footer class="flex-none border-x border-border/50 max-w-3xl mx-auto bg-background relative z-10">
  <div class="py-3">
    <div class="flex flex-wrap items-center justify-between gap-4 text-sm font-medium px-6 sm:px-8">
      <div class="flex flex-wrap gap-x-6 gap-y-1">
        <span class="text-foreground text-xs">
          © {new Date().getFullYear()} {SITE.author}. All rights reserved.
        </span>
      </div>
      <div transition:persist="footer-theme-toggle">
        <ThemeToggle client:load />
      </div>
    </div>
  </div>
</footer>
